body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
  }
  
  .create-user-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .create-main-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .heades {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
  }
  /* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
